body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333; }

.jumbotron p {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
  font-weight: 900; }

.name {
  font-family: 'Space Mono', monospace !important;
  animation-name: lsd;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes lsd {
  0% {
    color: #51cbff; }
  33% {
    color: #f8c734; }
  66% {
    color: #37aca0; }
  100% {
    color: #d87373; } }
.tech img {
  width: 5em;
  height: 5em;
  margin: 0 auto;
  margin-bottom: 3em; }

.roundedImage {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

@media (min-width: 600px) {
  .name {
    margin-left: 15px; } }
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; }

.navbar-custom .navbar-brand {
  font-weight: 600; }

.navbar-custom .navbar-header .navbar-toggle {
  color: #005A9C;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Space Mono', monospace; }

.navbar-custom .nav li a {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px; }

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent; }

  .navbar-custom .navbar-brand {
    color: black;
    padding: 20px; }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: #005A9C; }

  .navbar-custom .nav li a {
    color: azure;
    padding: 20px; } }
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: #9c4200;
    border-bottom: 1px solid #005A9C;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }

  .navbar-custom.is-fixed .navbar-brand {
    color: #005A9C; }

  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1; }

  .navbar-custom.is-fixed .nav li a {
    color: #005A9C; }

  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1; }

  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
.intro-header {
  background-color: Complement(#005A9C);
  background: no-repeat 80% 20%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
  opacity: 0.8; }

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: black; }

@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0; } }
.intro-header .site-heading,
.intro-header .page-heading {
  color: black;
  text-align: center; }

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px; }

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0; }

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    display: hidden;
    font-size: 80px; } }
.intro-header .post-heading h1 {
  font-size: 35px; }

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block; }

.intro-header .post-heading .subheading {
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 400; }

.intro-header .post-heading .meta {
  font-style: italic;
  font-weight: 300;
  font-size: 20px; }

.intro-header .post-heading .meta a {
  color: #005A9C; }

.experience {
  align-content: center;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .experience .experience-content {
    padding: 90px 110px;
    border-radius: 10px;
    margin-bottom: 80px;
    background-size: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18); }
    @media only screen and (max-width: 500px) {
      .experience .experience-content {
        padding: 0; } }
    .experience .experience-content .experience-title a {
      color: #000; }
  .experience .sdc {
    background-color: #35c4d3; }
  .experience .lp {
    background-color: #011c56;
    color: #37be9e; }
    .experience .lp .experience-title a,
    .experience .lp .experience-position {
      color: #37be9e !important; }
  .experience .nss {
    background-color: tomato;
    border: tomato; }
  .experience .verge {
    background-color: #f68d2e;
    border: #f68d2e; }
  .experience .krit {
    background-color: #E14659;
    border: #E14659; }
  .experience .experience-title a {
    font-size: 42px;
    text-decoration: none;
    text-decoration-color: none;
    transition: all .2s ease-in-out; }
    @media only screen and (max-width: 500px) {
      .experience .experience-title a {
        font-size: 26px; } }
  .experience .experience-title a:hover {
    transform: scale(1.1); }
  .experience .experience-position {
    margin-bottom: 45px;
    font-size: 24px; }
  .experience .experience-tech h4 {
    font-size: 20px; }
  .experience .experience-tech .experience-tech-list {
    list-style: none; }
  .experience .experience-resume {
    font-weight: 700; }
    .experience .experience-resume li {
      margin-bottom: 15px; }

.contact {
  display: flex; }
  .contact .contact-card {
    font-family: 'Space Mono', monospace;
    margin: 80px auto;
    background-color: rgba(238, 238, 238, 0.88);
    padding: 60px; }
    @media only screen and (max-width: 768px) {
      .contact .contact-card {
        padding: 35px; } }
  .contact .contact-card-content {
    margin-top: 20px; }

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }

/*
    Multicoloured Hover Variations
*/
#social-li:hover {
  color: #3B5998; }

#social-tw:hover {
  color: #4099FF; }

#social-gh:hover {
  color: #000; }

#social-em:hover {
  color: #f39c12; }

/*# sourceMappingURL=main.css.map */
