<div class="WhoAmI" md-swipe-right="onSwipeRightFromAbout()" md-swipe-left="onSwipeLeftFromAbout()">
  <div>
    <p class="flow-text">
      In my first life I was a young, emboldened, high school history teacher. I received my graduate degree in education from
      the University of Tennessee before moving back to my native Nashville to begin my teaching career. I taught at a small
      charter school, which I thoroughly enjoyed. I took pride in the classroom that I created — a place where my students
      could grow and learn. I was interested in charting the metrics of my students’ learning, and eventually became infatuated
      with gathering data through the online grade-book implemented on campus. While the grade-book was a fantastic tool,
      I felt that it could be improved.
    </p>
    &nbsp
    <p class="flow-text">
      I taught for three years, and then decided that it was time to pursue a new career. I wanted to do something that would
      continue to feed my curiosity and desire to learn. While visiting family and friends during my winter vacation I rediscovered
      my interest in technology. I reread a paper that I had written in graduate school, that explored how technology was
      used in education. I realized at that point that education is not the only way to contribute to the betterment of humanity.
      It became very clear that technology is a great way to do so.
    </p>
    &nbsp
    <p class="flow-text">
      Fast forward a year later and I now work as a Software Developer at Launchpeer in Charleston, SC. I’m in love with learning new technology,
      and want to use the tools that I’ve gleaned to make the world a better place. In my spare time I enjoy watching football,
      eating Indian food, and winning at the Settlers of Catan.
    </p>
  </div>
</div>