<div class="WhoAmI" md-swipe-right="onSwipeRightFromAbout()" md-swipe-left="onSwipeLeftFromAbout()">
  <div>
    <p class="flow-text">
      In 2009 I started college as a history major, in hopes to one day become a high school history teacher. After graduating
      from the University of Tennessee in 2013; and then completing my graduate degree the following year, I moved to Nashville
      and began my teaching career at a small charter school in the North Nashville area. I enjoyed my time there. I saw
      my students grow, and I created a culture of success and understanding in my own classroom. I became interested in
      charting the metrics of my students’ learning, and slowly became obsessed with gathering data through the online grade-book
      that was used on campus. I will say, while the grade-book had a ton of awesome features, it still left me wanting more.
    </p>
    &nbsp
    <p class="flow-text">
      I taught for three years, and then decided that I wanted to pursue a new career in something different. I knew that I wanted
      to continue my own personal growth, and pick a career that would allow me to continue my own tradition of being a life
      long learner. While visiting family and friends during my winter vacation I slowly began a journey that allowed me
      to rediscover my interest in technology by revisiting my research that I completed during graduate school. I reread
      my paper, which explored how technology was used in education. I decided at that point that there’s more than one way
      to help improve the state of humanity. It became very clear at that moment that technology is a great way to do so.
    </p>
    &nbsp
    <p class="flow-text">
      Fast forward several months later and I am now a student at Nashville Software School where I am quickly learning how to
      be an effective and efficient software developer. I’m in love with learning new technology daily, and want to use the
      tools that I’ve gained to further my own task of making the world a better place. In my spare time I enjoy watching
      football, eating Indian food, and losing at the Settlers of Catan.
    </p>
  </div>
</div>