<div class="WhoAmI" md-swipe-right="onSwipeRightFromAbout()" md-swipe-left="onSwipeLeftFromAbout()">
  <div>
  <p class="flow-text">
    I am currently a student at Nashville Software School where I am quickly learning how to be an effective and efficient software developer.
    I was formally a high school history teacher in Tennessee. As a teacher I worked with a variety of students, from rural communities in Powell, TN to urban youth in the Northern Nashville area.
    As a teacher I was highly motivated to create an inclusive classroom.
  </p>
  <p class="flow-text">
    I currently live in Nashville, TN with my cat. I enjoy watching football, eating Indian food, and learning about new technology.
  </p>
  </div>
</div>
