<div class="col-md-4 center-block">
	<h3 class="center-block">Lets Work Together</h3>
	<hr class="small">

	<form action="https://formspree.io/garrett.vangilder@gmail.com" method="POST">
		<div class="form-group row">
			<div class="col-md-5">
				<input placeholder="Name" name="name" type="text" />
			</div>
			<div class="col-md-5 col-md-offset-2">
				<input placeholder="Email" name="email" type="email" />
			</div>
		</div>
		<br>

		<textarea class="form-control" rows="3" placeholder="Lets work together..."></textarea>
		<br>
		<input type="submit" class="special btn btn-default center-block" value="Submit" />
	</form>
</div>
<div class="center row">
	<h3>Find Me On the Web</h3>
	<hr class="small">

	<div class="center">
		<div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
			<a href='mailto:garrett.vangilder@gmail.com'><img class="responsive-img col s3" src="images/ContactIcons/google-gmail.svg" alt="linkedIn" /></a>
		</div>
	</div>

		<div class="center">
		<div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
			<a href='mailto:garrett.vangilder@gmail.com'><img class="responsive-img col s3" src="images/ContactIcons/github-icon (1).svg" alt="linkedIn" /></a>
		</div>
	</div>

		<div class="center">
		<div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
			<a href='mailto:garrett.vangilder@gmail.com'><img class="responsive-img col s3" src="images/ContactIcons/linkedin_icon.svg" alt="linkedIn" /></a>
		</div>
	</div>

			<div class="center">
		<div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
			<a href='mailto:garrett.vangilder@gmail.com'><img class="responsive-img col s3" src="images/ContactIcons/twitter.svg" alt="linkedIn" /></a>
		</div>
	</div>
</div>
