<div class="col-md-6 center-block text-center">
	<h3 class="center-block">Lets Work Together</h3>
	<hr class="small">

	<form class="contactMe" action="https://formspree.io/garrett.vangilder@gmail.com" method="POST">
		<div class="form-group row">
			<div class="col-md-5">
				<input placeholder="Name" name="name" type="text" />
			</div>
			
			<div class="col-md-5 col-md-offset-2">
				<input placeholder="Email" name="email" type="email" />
			</div>
		</div>
		<br>

		<textarea class=" col-md-12 form-control" rows="3" placeholder="Lets work together..."></textarea>
		<br>
		&nbsp
		<input type="submit" class="special btn btn-default center-block" value="Submit" />
	</form>
</div>
<div class="center row col-md-5 col-md-offset-1 text-center">
	<h3>Find Me On the Web</h3>
	<hr class="small">


	<figure class="tech-item-wrapper col-lg-4  col-md-4  col-sm-4 col-xs-4">
		<a href="https://github.com/garrett-vangilder" target="_blank"><img class="img-responsive" src="images/ContactIcons/github-icon (1).svg"></a>
	</figure>

	<figure class="tech-item-wrapper col-lg-4  col-md-4  col-sm-4 col-xs-4">
		<a href="https://www.linkedin.com/in/garrett-vangilder-1769a797
" target="_blank"><img class="img-responsive" src="images/ContactIcons/linkedin2.svg"></a>
	</figure>

	<figure class="tech-item-wrapper col-lg-4  col-md-4  col-sm-4 col-xs-4">
		<a href="https://twitter.com/Garrett_Vangild" target="_blank"><img class="img-responsive" src="images/ContactIcons/twitter.svg"></a>
	</figure>


</div>