<div class='experience col-xs-12'>
  <div class="experience-content krit text-center col-xs-12">
    <h3 class="experience-title"><a target="_blank" href="https://www.builtbykrit.com/">Krit</a></h3>
    <div class="experience-position">
      <i>Software Developer</i>
    </div>
    <div class="col-xs-12">
      <ul class="text-left experience-resume col-xs-12">
        <li>Developed cross-platform mobile applications written in Javascript by implementing the React Native framework</li>
        <li>Planned and executed lunch and learn on the development process for companies first hybrid mobile application</li>
        <li>Built JSON API spec RESTful API's in python, using the Django REST framework</li>
      </ul>
    </div>
  </div>
  <div class="experience-content verge text-center col-xs-12">
    <h3 class="experience-title"><a target="_blank" href="https://www.vergehealth.com/">Verge Health</a></h3>
    <div class="experience-position">
      <i>Software Engineer</i>
    </div>
    <div class="col-xs-12">
      <ul class="text-left experience-resume col-xs-12">
        <li>Implemented  Angular client side and .NET Core server side microservices in an enterprise kubernetes infrastructure</li>
        <li>Reduced steps in deployment night process through collaboration in Operational Excellence Guild</li>
      </ul>
    </div>
  </div>
  <div class="experience-content sdc text-center col-xs-12">
    <h3 class="experience-title"><a target="_blank" href="https://www.smiledirectclub.com">SmileDirectClub - 2017</a></h3>
    <div class="experience-position">
      <i>Software Engineer</i>
    </div>
    <div class="col-xs-12">
      <ul class="text-left experience-resume col-xs-12">
        <li>Participated in agile software development with a department-wide implementation of Jira, daily stand-ups, sprint reviews,
        sprint retrospectives, and sprint planning</li>
        <li>Designed process to allow end-users to reschedule appointments, potentially saving cost in human capital</li>
        <li>Implemented marketing-designed comps into nationally recognized eCommerce site</li>
        <li>Utilized version control systems Git and Github during team / personal assignments to ensure a high quality of code</li>
        <li>Deployed changes to eCommerce platform through Jenkins, a continuous integration platform</li>
      </ul>
    </div>
  </div>
  <div class="experience-content nss text-center col-xs-12">
    <h3 class="experience-title"><a target="_blank" href="http://nashvillesoftwareschool.com/">Nashville Software School - 2016</a></h3>
    <div class="experience-position">
      <i>Apprentice Software Developer</i>
    </div>
    <div class="col-xs-12">
      <ul class="text-left experience-resume col-xs-12">
        <li>Engineered several Single-Page Web Applications using popular JavaScript frameworks such as AngularJS</li>
        <li>Utilized version control systems Git and Github during group and personal assignments to ensure a high quality of code</li>
        <li>Implemented and designed a workflow utilizing Github Projects and Trello that incorporated code reviews to verify a high
        understanding of Object Oriented programing during server side instruction</li>
        <li>Developed RESTful APIs written in C# and the .NET framework</li>
        <li>Interacted with several third-party APIs through AJAX calls written in jQuery, Vanilla Javascript, and AngularJS</li>
        <li>Designed MVC applications using the ASP.NET framework</li>
        <li>Participated in daily stand-ups, planned weekly sprints, and implemented Agile methodology into project planning.</li>
      </ul>
    </div>
  </div>
</div>