<nav class="black-text" ng-controller="NavBarCtrl">
  <div class="nav-wrapper #ffffff white">
    <a href="/#/" class="brand-logo black-text name">Garrett Vangilder</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down black-text">
      <li ng-class="{active:isActive('/')} "><a class="black-text" ng-href="/#/">About</a></li>
      <li ng-class="{active:isActive('/projects')}"><a class="black-text" ng-href="/#/projects">Projects</a></li>
      <li ng-class="{active:isActive('/resume')}"><a class="black-text" ng-href="/#/resume">Resume</a></li>
    </ul>
  </div>
</nav>


