<div class="jumbotron text-center">
    <div class="row">
        <h1>Roomies</h1>
    </div>
  <p>Roomies is an application created to facilitate communication between housemates. This app incorporates technologies learned during my first three months of Nashville Software School.</p>
  <div class="center-block row">
    <p><a class="btn btn-primary btn-lg center-block " href="https://roomies-39f08.firebaseapp.com/#/" role="button">Link</a></p>
    <p><a class="btn btn-primary btn-lg center-block" href="https://github.com/garrett-vangilder/roomies" role="button">Source Code</a></p>
  </div>
</div>

<div class="jumbotron text-center">
    <div class="row">
        <h1>Initial Bangazon Site</h1>
    </div>  <p>This project was completed during the second half of my course work at the Nashville Software School. It is an e-commerce application built with the .NET framework. This project was a group project where my team developed a workflow that demanded a high level of execution from all group members.</p>
  <div class="center-block row">
    <p><a class="btn btn-primary btn-lg center-block" href="https://github.com/TeamCharles/initial-site" role="button">Source Code</a></p>
  </div>
</div>