<div class="jumbotron text-center">
    <div class="row">
        <h1>Roomies</h1>
    </div>
  <p>This application is used to facilitate interactions between housemates. Roomies is built using the AngularJS framework as well as the NoSQL Firebase database. Users are able to organize shopping trips, bill payments, chores, as well as chat with one another. </p>
  <div class="center-block row">
    <p><a class="btn btn-primary btn-lg center-block " href="https://roomies-39f08.firebaseapp.com/#/" role="button">Link</a></p>
    <p><a class="btn btn-primary btn-lg center-block" href="https://github.com/garrett-vangilder/roomies" role="button">Source Code</a></p>
  </div>
</div>

<div class="jumbotron text-center">
    <div class="row">
        <h1>Initial Bangazon Site</h1>
    </div>  <p>Bangazon is a three month long group project that lasted from the end of September 2016 till mid-December 2016. During this time several applications were created for an "Amazon" like company, Bangazon. These apps include several ASP.NET MVC applications that allow for end users to purchase and sell products, as well as an MVC application that allows for Bangazon management to perform management tasks and document employee incidents. </p>
  <div class="center-block row">
    <p><a class="btn btn-primary btn-lg center-block" href="https://github.com/TeamCharles/initial-site" role="button">Source Code</a></p>
  </div>
</div>