<div md-swipe-left="onSwipeLeftFromResume()" md-swipe-right="onSwipeRightFromResume()">
    <h5>
        <u>Work Experience</u>
    </h5>
    <div>
        <p>
            <strong>LEAD Academy,</strong> <span class="right">May 2014 – June 2016</span>
            Nashville, TN
            <br/>
            <i>Social Studies Teacher, 125 students</i>
        </p>
        <ol>
            <li>
                Designed a system wide curriculum for World History, Advanced Placement US History, and Economics classes allowing for a streamlined educational pathway for students between grades 5 to 12
            </li>
            <li>
                Created technology based lessons where students researched and created rigorous college prep essays
            </li>
            <li>
                Refined instructional practices through weekly meetings with a LEAD provided instructional coach
            </li>
            <li>
                Formalized an Advance Placement program allowing for high school students to receive college credit through completion of a rigorous assessment
            </li>
            <li>
                Restructured the existing Model United Nations and Student Government programs allowing for an increase in student participation
            </li>
            <li>
                Codified grading policy for all teachers as a member of a local school-based policy team
            </li>
        </ol>
    </div>

    <div>
      <br />
        <p>
            <strong>Powell High School,</strong> <span class="right">May 2014 – June 2016</span>
            Knoxville, TN
            <br/>
            <i>Social Studies Intern, US History and Government, 61 students including 12 with special needs</i>
        </p>
        <ol>
            <li>
                Designed department wide grammar test to accomplish and measure department wide goals
            </li>
            <li>
                Created technology based lessons where students researched and created rigorous college prep essays
            </li>
            <li>
                Assessed students reading ability, vocabulary, and comprehension through a research based method (Qualitative Reading Inventory) and created lessons to scaffold student’s reading levels
            </li>
            <li>
                Participated in community involvement events such as football games, theatrical plays, parent-teacher conference nights, open houses, and marching band performances.
            </li>
        </ol>
    </div>


    <div>
    <br />
    <h5>
        <u>Education</u>
    </h5>
    <div>
        <p>
            <strong>Nashville Software School,</strong>  <span class="right">July 2016 – December 2016</span>
            Nashville, TN
        </p>
        <ul>
            <li>
                <i>Competent Programing Languages</i>: HTML5, CSS3, and JavaScript 2015
            </li>
            <li>
                <i>Competent Technologies/Plug-ins</i>: jQuery, Bootstrap, Git, Grunt, Gulp, Angular.js, Materialize, and SASS
            </li>
            <li>
                <i>Competent Technological Theories/Practices</i>: AJAX, Single Page Applications, and testing suites
            </li>
        </ul>
    </div>

    <div>
      <br />
        <p>
            <strong>The University of Tennessee,</strong> <span class="right">August 2011 - July 2014</span>
            Knoxville, TN
        </p>
        <p>
            <strong>Masters of Science</strong>
        </p>
        <ul>
            <li>
                <i>Studied</i>: Teacher Education
            </li>
        </ul>
        <p>
            <strong>Bachelor of Arts</strong>
        </p>
        <ul>
            <li>
                <i>Major</i>: History, Minor: Secondary Education and Political Science
            </li>
        </ul>
    </div>
  </div>

    <div>
      <br />
        <h5><u>Activities and Community Service</u></h5>
        <ol>
          <li>
            <i>Volunteer</i>, BarCamp Nashville
          </li>
          <li>
            <i>Volunteer</i>, Music City Code
          </li>
          <li>
            <i>Runner</i>, Rock and Roll 1/2 Marathon
          </li>
          <li>
            <i>Runner</i>, Nashville 1/2 Marathon
          </li>
          <li>
            <i>President</i>, Phi Mu Alpha at the University of Tennessee
          </li>
          <li>
            <i>Historian</i>, Phi Mu Alpha at the University of Tennessee
          </li>
        </ol>
    </div>

</div>
