<section class="row">
</div>
  <div class="center">
    <h3 class="text-center">I like...</h3>
    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/angular-icon.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/bootstrap.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/css-3.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/django.svg">
    </div>
    
    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/elm.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/git-icon.svg">
    </div>
    
    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/github-icon.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/html-5.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/javascript.svg">
    </div>
    
    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/mongo.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/nodejs-color.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/npm.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/postgresql.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/python.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/react.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/redux.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/vue.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/webpack.svg">
    </div>
  </div>
</section>