<section class="row">
  </div>
  <div class="center">
    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/angular-icon.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/azure.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/bootstrap.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/bower.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/Browserify.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/dotnet.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/elm.svg">
    </div>


    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/firebase.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/git-icon.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/github-icon.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/grunt.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/gulp.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/html-5.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/javascript.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/jquery.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/materialize.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/npm.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/sqlite.svg">
    </div>

    <div class="tech col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <img class="img-responsive" src="images/devIcon/visual-studio.svg">
    </div>
  </div>
</section>