<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Garrett Vangilder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
    <style>
    </style>
</head>
<body>
    <div>
        <header>
        </header>
        <main>
        </main>
        <footer>
        </footer>
    </div>
</body>
</html>
